
.home-page {
    text-align: center;
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
 
  .filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
   
  .driver-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .driver-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-width: 200px;
  }
  

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  