
.driver-info {
  margin-bottom: 20px; 
  background: url('../Formula1.JPG') no-repeat center center fixed;
  background-size: contain;
}

.imageStyle {
  width: 40%;
  height: 10%;
  border-radius: 30px;
  object-fit: cover;
}
