
.background-image {
  background-image: url("../Formula1a.JPG");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #EE0000;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
}