
.form-page {
  max-width: 600px;
  margin: auto;
  background: url('../conductorx.JPG') no-repeat center center fixed;
  background-size: cover;
  padding: 10px 50px 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.121); 
  color: white; 
  height: 130vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold; 
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  background: rgba(237, 230, 230, 0.5); 
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fffffff7;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: rgba(243, 140, 140, 0.797);
  font-size: 14px;
  margin-top: 5px;
  display: block;
}


.custom-teams {
  display: flex;
  flex-wrap: wrap; 
}

.custom-teams span {
  background: rgba(237, 230, 230, 0.5); 
  color: rgb(31, 28, 28); 
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

:root {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
